<div class="flex flex-col items-center py-12">

  <div class="p-6 pb-0">
    <GenerateButton [isLoading]="isLoading" (buttonClick)="onClick()" />
  </div>

  <div class="p-6 w-full bg-primary sticky top-0 flex justify-center z-10">
    <SearchBox *ngIf="isLoaded" (search)="onSearch($event)" [isDisabled]="!isLoaded || isLoading" />
  </div>

  <div *ngIf="isLoaded" class="columns-1 sm:columns-2 lg:columns-3 xl:columns-4 gap-4">
    <div *ngFor="let row of filteredImages | transpose: 3">
      <div *ngFor="let image of row" class="pt-4">
        <ImageBox [image]="image" />
      </div>
    </div>
  </div>

</div>