<div class="flex flex-col items-center">

  <FavoriteImagesList />

  <div *ngIf="!isLoaded" class="p-6 pb-0">
    <LoadButton [isLoading]="isLoading" (buttonClick)="onClick()" />
  </div>



  <div *ngIf="isLoaded" class="px-2 w-full ">
    <div class="bg-primary absolute top-0  z-10 w-[calc(100vw-18px)] h-24 flex items-center justify-center ">
      <SearchBox (search)="onSearch($event)" [isDisabled]="!isLoaded || isLoading" />
    </div>
  </div>

  <cdk-virtual-scroll-viewport [itemSize]="calculatedItemSize" *ngIf="isLoaded"
    class="h-screen w-screen overflow-y-scroll" #VirtualScroller>

    <div class="h-24"></div>

    <div class="flex flex-col gap-4 px-6 h-full">
      <div *cdkVirtualFor="let image of filteredImages" class="row flex justify-center items-center h-[500px] gap-4">
        <ImageBox [image]="image" />
      </div>
    </div>
  </cdk-virtual-scroll-viewport>

</div>